<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
    // Simple JavaScript Templating
    // John Resig - http://ejohn.org/ - MIT Licensed
    (function(){
        var cache = {};

        this.tmpl = function tmpl(str, data){
            // Figure out if we're getting a template, or if we need to
            // load the template - and be sure to cache the result.
            var fn = !/\W/.test(str) ?
                    cache[str] = cache[str] ||
                    tmpl(document.getElementById(str).innerHTML) :

                // Generate a reusable function that will serve as a template
                // generator (and which will be cached).
                    new Function("obj",
                            "var p=[],print=function(){p.push.apply(p,arguments);};" +

                                // Introduce the data as local variables using with(){}
                            "with(obj){p.push('" +

                                // Convert the template into pure JavaScript
                            str
                                    .replace(/[\r\t\n]/g, " ")
                                    .split("<%").join("\t")
                                    .replace(/((^|%>)[^\t]*)'/g, "$1\r")
                                    .replace(/\t=(.*?)%>/g, "',$1,'")
                                    .split("\t").join("');")
                                    .split("%>").join("p.push('")
                                    .split("\r").join("\\'")
                            + "');}return p.join('');");

            // Provide some basic currying to the user
            return data ? fn( data ) : fn;
        };
    })();
</script>
<script type="text/html" id="experience_template">
    <ul>
        <% for (var i = 0; i < experience.length; i++) { %>
        <% var item = experience[i]; %>
        <li>
            <b><a href="<%=item.website%>"><%=item.company%></a></b> — <span><%=item.description%></span>
            <p>Position: <%=item.position%></p>
            <p><%=item.from%> — <%=item.to%></p>
            <p>Achievements:</p>
            <ul>
                <% for (var j = 0; j < item.skills.length; j++) { %>
                <% var skill = item.skills[j]; %>
                <li><%=skill%></li>
                <% } %>
            </ul>
        </li>
        <br/>
        <% } %>
    </ul>
</script>
<script>
    $(document).ready(function() {
        $.get('experience.json', function(data) {
            var experience = document.getElementById("experience");
            experience.innerHTML = tmpl("experience_template", {experience: data});
        })
    })
</script>
<div id="experience"></div>
<h2>Reviews:</h2>
<ul>
    <li>
        <h3>Mihail Budilov - project manager in Green Rabbit (QMStatus project)</h3>
        <p>
            We’ve worked with Andrey and still do occasionally on the SaaS-project qmstatus.com where he was a leading front end developer. We benefited a lot from his expertise and quick decision-making. Apart from coding, he alone tutored and assigned tasks to the second front end developer. Andrey is a team player, and he is always online which is a very important quality for a remote worker.
        </p>
    </li>
    <li>
        <h3>Elizaveta Yanovskaya - COO in CSSSR</h3>
        <p>
            While working in CSSSR, Andrew proved to be a self-sufficient person as well as a developer deeply interested in a project. Later he became our senior Angular-developer, developed some of our standards, advised on projects’ architecture and conducted interviews of candidates.
        </p>
        <p>
            I’d like to specifically mention him as a trustworthy employee who always did his best at leading projects and meeting all the necessary requirements including business interests.
        </p>
    </li>
</ul>