* {
    font-family: 'Courier New', Courier, monospace !important;
}

body {
    width: 800px;
    margin: 0 auto;
}

.code * {
    margin: 0;
}

.code .comment {
    color: grey;
}

.code .comment .tag {
    text-decoration: underline;
}

.logo {
    display: block;
    width: 0;
    height: 0;
    border-bottom: 60px solid lightgrey;
    border-left: 70px solid transparent;
    border-right: 50px solid transparent;
}

.logo:hover {
    border-bottom-color: grey;
}

.challenge .done {
    background: lightgreen;
}